
.seccion {

    margin: auto;
    width: 325px;
    height: 350px;
    border: 3px solid grey;
    border-radius: 5px;
    background-color: silver;
}

p {
    text-align: center;
    font-size: 25px;
    color: black;
}

.calculadora {
    width: 300px;
    height: 450px;
    margin: 2px auto;
    text-align: center;
}

input[type="text"] {
    width: 288px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 20px;
    text-align: right;
    border-radius: 5px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    
}